.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid red;
}

.h {
    &-full {
        height: 100%;
    }
}

.d {
    &-flex {
        display: flex;
    }
}

.justify {
    &-between {
        justify-content: space-between;
    }
    &-center {
        justify-content: center;
    }
}

.items {
    &-center {
        align-items: center;
    }
}

.mx {
    &-auto {
        margin: 0 auto;
    }
}

.mb {
    &-20 {
        margin-bottom: 20px;
    }
}

.py {
    &-8 {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.px {
    &-4 {
        padding-left: 4px;
        padding-right: 4px;
    }
}

.pt {
    &-50 {
        padding-top: 50px;
    }
}

.bg {
    &-transparent {
        background: transparent;
    }
}

.text {
    &-left {
        text-align: left;
    }
}

.btn {
    border: 0;
    background: transparent;
    outline: 0
}

.form-control {
    border: 1px solid #eee;
}